
.toggle_link {
display: inline-block;
font-size: 0.75rem;
font-weight: normal;
color: blue;
text-transform: underline dotted;
font-family: "Ubuntu-L", Arial, Helvetica, sans-serif;
cursor: pointer;
margin-left: 10px;

}