@font-face {
  font-family: "Ubuntu-L";
  src: url(/fonts/Ubuntu-L.ttf) format('truetype');
}

@font-face {
  font-family: "Ubuntu-M";
  src: url(/fonts/Ubuntu-M.ttf) format('truetype');
}

html {
  --grey: #333333; /*Couleur*/
  --medium-grey: #666666;
  --light-grey: #F2F2F2;
  --blue: #006CD1;
  --brown: #8B0000;
  --light-orange: #ffe0cc; /*les couleurs légèrent sont pour les fonds généralement*/
  --light-yellow: #ffffe0;
  --red: #ff0000;
  --green: #2f4f4f;
  --medium-green: #bfd9d9;
  --light-green: #eff5f5;
}

/*hidder {
  background-color: #3366cc;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:  16px;
  cursor: pointer;
}*/


body {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: "Ubuntu-L", helvetica, arial, sans-serif;
  color: var(--grey);
  font-size: 1.2rem; /*pour changer la taille texte du site*/
  font-weight: normal;
}



@media screen and (min-width: 600px) {
  body {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 1rem;
  }
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--green);
  padding: 1%;
}

.header_logos {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  flex-basis: 10%;
}

nav {
  /*background-color: green;*/
  flex-basis: 70%;
  padding: 0.5rem;
}

@media screen and (min-width: 600px) {
  nav {
    flex-basis: 60%;
    padding: 1rem;
  }
}

.nav_link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
  .nav_link {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
}

.central {
  /*background-color: yellow;*/
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .central {
    flex-direction: row;
  }
}

main {
  background-color: aqua;
  flex-basis: 75%;
  padding: 1%;
}

/*@media screen and (min-width: 600px) { change la couleur du fond en fonction de la taille de la page internet
/*  main {
    background-color: springgreen;
  }
}*/

/*@media screen and (min-width: 1000px) /*{ change la couleur du fond en fonction de la taille de la page internet
/*  main {
    background-color: lightskyblue;
  }
}*/

aside {
  background-color: var(--medium-green);
  flex-basis: 25%;
  padding: 1%;
}

aside > section {
  margin-bottom: 2rem;
}

.pdf {
  width: 5rem;
}


h1 {
  font-size: 1.4rem;
}


@media screen and (min-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 1.8rem;
  }
}


.top_logo {
  width: 1.8rem;
  padding: 0 0.7rem 0 0;
}

@media screen and (min-width: 600px) {
    .top_logo {
      width: 2.5rem;
    }
}


.banner {
  width: 100%
}

h2 {
  font-size: 1.1rem;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 1.3rem;
  }
}

h1,h2 {
  color: var(--blue);
}

.grey {
  color: var(--grey);
}

.red {
  color: var(--red);
}

audio, video {
  width: 100%;
}

footer {
  background-color: var(--green);
  color: white;
  padding: 1%;
}

footer a { /*pour changer la couleur de l'adresse de Jules CESAR*/
  color: white;
}

.toggle_link {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: normal;
  color: blue;
  text-transform: underline dotted;
  font-family: "Ubuntu-L", Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin-left: 10px;
  
  }
